*{
    box-sizing: border-box;
    p{
        margin: 0;
        padding: 0;
    }
}

body{
    background-color: #3f4245;
    height: 100%;
    width: 100%;
    color: rgb(171, 167, 167);

}

main{
    display: flex;
    gap: 20px;
    margin: 20px;
}
.photo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image1{
    border-radius: 15px;
    box-shadow: 5px 10px 25px black;
    width: 20vw;
    height: 25vh;
}


.name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name h1{
    margin :0;
}
.name h4{
    background-color: #7e7e7e;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 5px 10px 25px black;
    font-size: large;

}


.contentcontainer{
    background-color: rgb(29, 29, 29);
    padding: 40px 10px;
    box-shadow: 10px 10px 15px black;
    border-radius: 15px;
}

.sidebar{
    width: 30vw;
    height: 90vh;

}

.personalinfo{
    display: flex;
    flex-direction: column;
    /* width: 25vw; */
    justify-content: center;
    align-items: center;

}
.linebreak{
    border: 2px solid rgb(113, 109, 109);
    margin: 5px;
    
}

.contactinfo{
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.contact{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
    height: 30px;
    font-weight: bold;
}
.contact label{
    color: #7e7e7e;
    padding : 0px 4px;
}
.contact img{
    background-color: rgb(234, 234, 131);
    padding: 5px;
    
}
.contact p{
    margin-bottom: 0;
    padding:  0 4px;
    

}

.contactcontent{
    display: flex;
    flex-direction: column;
    
}

.social{
    display: flex;
    gap: 25px;
    padding: 4px 4px;
    margin-top: 10px;
    justify-content: center;
}

.social .socialicon{
    background-color: aliceblue;
    padding: 4px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(234, 234, 131);
    
}
.rightcontainer{
    width: 70vw;
    height: 90vh;  
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar{
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    background-color: #7e7e7e;
    border-radius: 0 15px ;
}

.navbar a{
    text-decoration-line: none;
    color: aliceblue;
    padding: 11px;
    font-size: larger;
}

.homecontainer{
    background-color:#7e7e7e;
    height: 70vh;
    width:50vw;
}

.active{
    display: flex;
}

.rightcontainer .hidden{
    display: none;
}